<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pic</key>
		<string>Bank_36</string>
		<key>name</key>
		<string>银行/ATM</string>
		<key>tag</key>
		<string>0</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Bar_36</string>
		<key>name</key>
		<string>酒吧</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Coffee_36</string>
		<key>name</key>
		<string>咖啡馆</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>2</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Concert_36</string>
		<key>name</key>
		<string>演唱会</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>3</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Weather_36</string>
		<key>name</key>
		<string>天气</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>17</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>GasStation_36</string>
		<key>name</key>
		<string>加油站</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>5</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Hospital_36</string>
		<key>name</key>
		<string>医院</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>6</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Hotel_36</string>
		<key>name</key>
		<string>酒店</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>7</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Movie_36</string>
		<key>name</key>
		<string>电影院</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>8</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Nearby_36</string>
		<key>name</key>
		<string>邻近</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>9</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Parking_36</string>
		<key>name</key>
		<string>停车场</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>10</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Pharmacy_36</string>
		<key>name</key>
		<string>药房</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>11</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Pub_36</string>
		<key>name</key>
		<string>酒吧</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>12</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Restaurant_36</string>
		<key>name</key>
		<string>餐馆</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>13</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Supermarket_36</string>
		<key>name</key>
		<string>超市</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>14</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Taxi_36</string>
		<key>name</key>
		<string>出租车</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>15</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Theater_36</string>
		<key>name</key>
		<string>剧院</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>16</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>Favorites_36</string>
		<key>name</key>
		<string>收藏夹</string>
		<key>url</key>
		<string></string>
		<key>tag</key>
		<string>4</string>
	</dict>
</array>
</plist>
